*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  scroll-behavior: smooth;
  
}



video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay{
  position:absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  


}

.left-img{
  
  width: 100px;
}

.test img {

  transition: all 0.3s;

  width: 250px;
  height: 200px;
 
  


}
.test:hover img{
  transform: scale(1.1);
}

.link:hover{
 color: #d9534f !important;
}

.icon1:hover{
  color: #E4405F !important;
}

.icon2:hover{
  color:  #1DA1F2 !important;
}

.icon3:hover{
  color: #0077B5 !important;
}

.icon4:hover{
  color: #1877F2 !important;
}